.main-container1 {
    width: 100%;
    display: flex;
}

.main-bo {
    width: 95%;
  
    display: flex;
    margin: auto;
}
.myimg {
    align-items: center;
    width: 100%;
    border-radius: 50%;
}

.main1-h3 {
    margin-top: 20rem;
    color: white;
    text-align: center;
}


.main-container2 {
    width: 100%;
    margin-top: 1rem;
    display: flex;
}
.main-c1 {
    width: 50%;
    padding: 1rem;
}


.inter-img{
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right:auto ;
    color: indigo;
}

.img1 {
    width: 40%;
    align-items: center;
    margin: auto;
    display: table;
}

.internal2 {
    width: 80%;
    border-radius: 0 5% 5% 0;
  
}





















.btndown {
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
    margin-bottom:4rem;
    width: 180px;
    height: 50px;
   border-radius: 10px;
    align-items: center;
    box-shadow: 5px 4px 5px rgba(184, 142, 213, 0.5);
}
.button{
    border-radius: 10px;
    box-shadow: 5px 4px 5px rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    padding: 5px;
    color: white;
    font-size: 19px;
    background-color: indigo;
}
.button:hover{
    transition-duration: 0.6s;
    background-color: rgb(107, 48, 149);
}

.main1 {
    width: 30%;
    margin-top: 10rem;
    margin-left: auto;
    
    margin-right: auto;
}.h-about {
    text-align: center;
    color: rgb(52, 2, 87) ;
}
.main2 {
    width: 30%;
    margin-top: 15rem;

    margin-left: auto;
    margin-right: auto;
}
.main3 {
    width: 30%;
    margin-top: 10rem;

    margin-left: auto;
    margin-right: auto;
}
.hthree{
    color: black;
    text-align: center;
}
.main1-p {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 6rem;
    color: black;
}

.main1-h3 {
    margin-top: 20rem;
    color:black;
    text-align: center;
}
.main-c1a {
    width: 70%;
    display: table;
    margin: auto;
    margin-top: 1rem;
    display: flex;
    border-radius: 10px;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(154, 118, 183, 0.5);
    border: solid indigo;
    background-color: #eeeeee;
}
.main-c1a:hover {

    transform: scale(1.01);
    transition-duration: 1s;
    border-color: rgb(43, 46, 41);
}
.main-c1ah2 {
    color: rgb(28, 2, 47);
    margin-top: 1rem;
    text-align: left;
}

.pc1 {
    color: black;
    margin-top: 1rem;
    text-align: left;
    font-size: 1.3rem;
}

.internal1 {
    width: 20%;
  
    border-radius: 5% 0 0 5%;
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right:auto ;
}
.main-h2 {
    margin-left: 2rem;
    color: rgb(28, 2, 47);
}

.main-p1 {
    color: black;
   text-align: left;
    margin-top: 4rem;
    font-size: 1.7rem;
}

.main-h3 {
    margin-right: 7rem;
    display: inline;
    color: black;
}

.main-c2 {
    padding: 1rem;
    width: 50%;

}

@media screen and (max-width:600px) {
    .btndown {
        margin-top: 3rem;
        margin-bottom:3rem;
        width: 150px;
        height: 45px;
    }
    .button{
        padding: 5px;
        font-size: 16px;
    }
    .main-c1 {
        width: 100%;
        padding: 0.7rem;
    }
    .main-p1{
        font-size: 1.4rem;
    }
    .main-bo {
        width: 95%;
        display: block;
    }
    .main-c2 {
        width: 100%;
    }

    .main-container2 {
        display: block;
    }
    .main-container1 {
        display: block;
    }
    .main-c1a{
        width: 95%;
    }

    .main1 {
        width: 100%;
        height: 40.5rem;
        margin-top: 10rem;


    }

    .main2 {
        width: 100%;
    }

    .main3 {
        width: 100%;
        height: 40.5rem;
        margin-top: 10rem;

    }
    .main1 {
        width: 100%;
        height: 100%;
    }
    .main2 {
        width: 100%;
        margin-top: 1rem;
        height: 100%
    }
    .main3 {
        width: 100%;
        margin-top: 1rem;
        height: 100%;
    }
    .main1-p {
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .main1-h3 {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .myimg {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    .main-h2 {
       text-align: left;
       margin-left: 0rem;
    }
    .main1-h3 {
        margin-top: 5rem;
    }
    .myimg {
        width: 100%;
        border-radius: 20px;
        align-items: center;
    }
    .main2-img{
        margin: auto;
        width: 50%;
        align-items: center;
    }
    .h-about {
        font-size: 45px;
    }
   
}

@media screen and (min-width:600px) and (max-width:1100px) {
    .btndown {
        margin-top: 3rem;
        margin-bottom:3rem;
        width: 150px;
        height: 45px;
    }
    .button{
        padding: 5px;
        font-size: 16px;
    }
    .main-c1 {
        width: 100%;
        padding: 0.7rem;
    }
    .main-p1{
        font-size: 1.4rem;
    }
    .main-bo {
        width: 95%;
        display: block;
    }
    .main-c2 {
        width: 80%;
    }

    .main-container2 {
        display: block;
    }
    .main-container1 {
        display: block;
    }
    .main-c1a{
        width: 70%;
    }

    .main1 {
        width: 100%;
        height: 40.5rem;
        margin-top: 10rem;


    }

    .main2 {
        width: 100%;
    }

    .main3 {
        width: 100%;
        height: 40.5rem;
        margin-top: 10rem;

    }
    .main1 {
        width: 100%;
        height: 100%;
    }
    .main2 {
        width: 100%;
        margin-top: 1rem;
        height: 100%
    }
    .main3 {
        width: 100%;
        margin-top: 1rem;
        height: 100%;
    }
    .main1-p {
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .main1-h3 {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .myimg {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    .main-h2 {
       text-align: left;
       margin-left: 0rem;
    }
    .main1-h3 {
        margin-top: 5rem;
    }
    .myimg {
        width: 100%;
        border-radius: 20px;
        align-items: center;
    }
    .main2-img{
        margin: auto;
        width: 50%;
        align-items: center;
    }
    .h-about {
        font-size: 45px;
    }
   
}

